<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="BenchmarkDBConnection" 
         connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=BenchmarkDB;Integrated Security=True;Encrypt=False" 
         providerName="Microsoft.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="AdminGebruikersnaam" value="admin" />
    <!-- Wachtwoord 'admin' gehasht met SHA256 -->
    <add key="AdminWachtwoordHash" value="8c6976e5b5410415bde908bd4dee15dfb167a9c873fc4bb8a81f6f2ab448a918" />
  </appSettings>
</configuration> 