<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="BenchmarkDBConnection" 
         connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=BenchmarkDB;Integrated Security=True;Encrypt=False" 
         providerName="Microsoft.Data.SqlClient" />
  </connectionStrings>
</configuration> 